<form [formGroup]="loginForm" (ngSubmit)="logIn()" class="container" style="width: 35vw">
  <h1>Log In</h1>
    <div class="row">
    <div class="col-4">
      <label for="username">User name</label>
    </div>
    <div class="col-8">
      <input type="text" name="username" formControlName="username" required placeholder="Enter your user name">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
        <span *ngIf="username.errors?.['required']" id="usernameRequired">User name is required</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="password">Password</label>
    </div>
    <div class="col-8">
      <input type="password" name="password" formControlName="password" required placeholder="Enter your password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
        <span *ngIf="password.errors?.['required']">Password is required</span>
      </div>
    </div>
  </div>
  <div class="row commands">
    <span *ngIf="unrecognisedUser" class="alert" id="unrecognisedUserError">User name not recognised</span>
    <span *ngIf="invalidPassword" class="alert" id="invalidPasswordError">Password is invalid</span>
    <span *ngIf="unrecognisedUser || invalidPassword" class="alert" id="unsuccessfulLoginError">Consider resetting your password</span>
    <span *ngIf="accountLocked" id="accountLockedError">Your account has been locked.  Please contact the helpdesk</span>
    <button class="card" target="_blank" rel="noopener" type="button" (click)="signUp()">
      <fa-icon [icon]="faSignUp"></fa-icon>
      <span>Sign Up</span>
    </button>
    <button class="card" target="_blank" rel="noopener" type="button" (click)="requestNewPassword()">
      <fa-icon [icon]="faReset"></fa-icon>
      <span>Request Password</span>
    </button>
    <button class="card" target="_blank" rel="noopener" type="submit" [disabled]="loginForm.invalid || accountLocked">
      <fa-icon [icon]="faSignIn"></fa-icon>
      <span>Log In</span>
    </button>
  </div>
</form>
