<form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="container" style="width: 35vw">
  <h1>Reset Password</h1>
  <div class="row">
    <div class="col-4">
      <label for="password">New password</label>
    </div>
    <div class="col-8">
      <input type="password" name="password" formControlName="password" required maxlength="40" minlength="8"
      placeholder="Enter your new password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
        <p *ngIf="password.errors?.['required']">Password is required</p>
        <p *ngIf="password.errors?.['minlength']">Password must be at least 8 letters</p>
        <p *ngIf="password.errors?.['maxlength']">Password must be no more than 40 letters</p>
        <p *ngIf="password.errors?.['tooSimple'] && (password.touched || password.dirty)" class="alert">
          Password must have 1 digit, 2 lowercase letters, 1 uppercase letter and one of @ # $ %
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label for="password">Confirm password</label>
    </div>
    <div class="col-8">
      <input type="password" name="confirmedPassword" formControlName="confirmedPassword" required maxlength="40" minlength="8"
      placeholder="Confirm your password">
      <div *ngIf="confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)" class="alert">
        <p *ngIf="confirmedPassword.errors?.['required']">Confirmed password is required</p>
        <p *ngIf="confirmedPassword.errors?.['minlength']">Confirmed password must be at least 8 letters</p>
        <p *ngIf="confirmedPassword.errors?.['maxlength']">Confirmed password must be no more than 40 letters</p>
        <p *ngIf="confirmedPassword.errors?.['tooSimple'] && (confirmedPassword.touched || confirmedPassword.dirty)" class="alert">
          Confirmed password must have 1 digit, 2 lowercase letters, 1 uppercase letter and one of @ # $ %
        </p>
      </div>
    </div>
  </div>
  <div class="row commands">
    <span *ngIf="passwordForm.errors?.['passwordsDoNotMatch'] && (passwordForm.touched || passwordForm.dirty)" class="alert">
      Confirmed password must match password
    </span>
    <button class="card" target="_blank" rel="noopener" type="button" (click)="logInScreen()">
      <fa-icon [icon]="faSignIn"></fa-icon>
      <span>Login Screen</span>
    </button>
    <button class="card" target="_blank" rel="noopener" type="submit" [disabled]="passwordForm.invalid">
      <fa-icon [icon]="faReset"></fa-icon>
      <span>Reset Password</span>
    </button>
  </div>
</form>
