<form [formGroup]="requestForm" (ngSubmit)="requestNewPassword()" class="container" style="width: 35vw">
  <h1>Request New Password</h1>
    <div class="row">
    <div class="col-4">
      <label for="username">User name</label>
    </div>
    <div class="col-8">
      <input type="text" name="username" formControlName="username" required placeholder="Enter your user name">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
        <span *ngIf="username.errors?.['required']" id="usernameRequired">User name is required</span>
      </div>
    </div>
  </div>
  <div class="row commands">
    <span *ngIf="unrecognisedUser" class="alert" id="unrecognisedUserError">User name not recognised</span>
    <button class="card" target="_blank" rel="noopener" type="submit" [disabled]="requestForm.invalid">
      <fa-icon [icon]="idBadge"></fa-icon>
      <span>Request Password</span>
    </button>
  </div>
</form>
